---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="About Grand Power | Grand Power UK">
  <div class="min-h-[100vh] bg-bronze pt-12 pb-12">
    <h2
      class="text-center font-oswald text-3xl font-bold uppercase text-white md:text-5xl"
    >
      Grand Power History
    </h2>
    <div class="m-4 p-4 text-lg text-white md:mx-24 md:my-8 lg:mt-12 lg:mb-12">
      <div class="space-y-4">
        <p>
          If you visit GRAND POWER in Banská Bystrica – Slovenská Ľupča today, you will
          find that it is a well-equipped and prosperous company employing over 100
          people. However, none of this would be true if its founder and owner, Mr.
          Jaroslav Kuracina, was not smart and stubborn.
        </p>
        <p class="hidden md:block">
          He got his passion for weapons from his grandfather who was a partisan during
          the WWII. His grandpa was also a hunter; he had a lot of weapons and he used to
          take his grandchild to a shooting range.
        </p>
        <p class="hidden lg:block">
          Weapons became Jaro´s hobby. He drew his first weapon as a teenager. He
          continued with his drawing while studying at the Military School. His colleagues
          used to call him “Piccaso”. He told his superior the people would use his guns
          one day. Instead of encouragement, he only heard sarcastic comments like: “Hell
          will freeze over first before they do so”. However, the young soldier was not
          put off by this. His first serious sketches date back to 1994. Just three years
          later the first functional prototype, marked Q200 with serial number E001, was
          made in Kinex Grand – a subsidiary of Kinex Bytča.
        </p>
        <p>
          Unfortunately, Považské strojárne went bankrupt, and Kinex Grand did not do
          better. Therefore, he visited his western neighbours to present them with his
          ideas. Zbrojovka Uherský Brod demonstrated a traditional approach – what is not
          ours, is not good. Even though, he had an important patent in his hands, he
          lacked money.
        </p>
        <p>
          Therefore, he addressed the banks. He wanted to borrow 10 mil USD.. And failed.
          Mostly, he was laughed at or was put off “having the patent and the idea, is not
          enough. We are not interested.” In the end, private investors (friends) helped,
          and the company grew. It was 2012, the K1 changed to the K100 (which got its
          name from it’s inventor and constructer) “K” as the first letter in the surname
          and “100” as the actual weight of Jaroslav Kuracina. However, in house
          production capacities were insufficient; therefore the weapon was made by Kops
          Detva according to the drawings of Jaroslav Kuracina.
        </p>
      </div>
      <div>
        <p>
          In the beginning, he was the only person in the company. Gradually, the company
          developed, new people came, new ideas, and a new production hall was obtained.
          The K100 Pistol acquired it’s reputation among the shooting community. Also,
          reviews in professional journals did positive advertising for the K100. The
          company started approaching foreign distributors. Initially, they were very
          reserved, but when they tried the K100 and realized the quality, the cooperation
          started. Negotiations with the company STI International started in 2007.
          Following the visit of the owner of the company and auditing of our products,
          the BATF approval was implemented for the US markets, and in 2008, the first
          weapons were transported to the USA. Those initial guns were the model K 100
          Mk6, under the commercial name GP6. The offer was extended to other models, such
          as STI GP 6C, GP5 and the .22 LR caliber called the STI GP2.
        </p>
        <p>
          When Jaroslav Kuracina filed for his patent, they thought he was crazy. However,
          12 years passed and Jaroslav Kuracina is the only one laughing now.
        </p>
        <p>
          Today, when producing weapons, GRAND POWER is 100% self-supporting, in terms of
          mechanical machining, thanks to it’ own production plant. We use the latest 4
          and 5 axis machining centers with an accuracy of +/-0.005mm and high
          productivity. Heat treatments and surface treatments, as well as molded plastic
          and metal parts such as, springs and pins are provided by our subcontractors.
        </p>
        <p>
          The uniqueness of our weapons lies in the unique patent-protected design of
          slide locking system by rotating the barrel. This locking method increases the
          comfort of shooting, in two ways – it significantly eliminates the lift of the
          gun after shooting and the gun will not “kick”. The force transferred to the
          hand of the shooter after the shot is significantly lower than with guns of
          comparable caliber. GRAND POWERS also strives to includes good prices and
          express service for all models.
        </p>
        <p>
          Today, the company exports almost 95% of it’s production. The remaining 5% are
          sold in Slovakia.
        </p>
      </div>
    </div>
    <div class="mt-4 flex w-full items-center justify-center p-4 md:mt-8 lg:mt-0">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/wPzULkOnuOU"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
  </div>
</BaseLayout>
