<footer
  class="h-1/2 bg-gray-700 bg-[url('/images/home_gp_bg.jpg')] px-24 py-24 text-white bg-blend-overlay"
>
  <div class="grid grid-cols-3">
    <div>
      <img
        src="/images/logo_grand_power_circle_uk.png"
        alt="Grand Power UK"
        width="150px"
      />
      <p class="mt-8">Shooting Supplies Ltd T/A Grand Power UK</p>
      <p>38, Sherwood Road</p>
      <p>Bromsgrove</p>
      <p>B60 3DR</p>
      <p class="mt-4">01527 831 261</p>
    </div>
    <div>
      <h3 class="upercase text-center font-oswald text-2xl font-bold uppercase">
        Site Links
      </h3>
    </div>
    <div>
      <h3 class="upercase text-center font-oswald text-2xl font-bold uppercase">
        Get in touch
      </h3>
    </div>
  </div>
</footer>
