---
const { home } = Astro.props;
const navClasses = home
  ? "h-1/5 py-8 text-lg text-white uppercase font-bold"
  : "bg-white h-1/5 py-8 text-lg text-black uppercase font-bold";

const textClasses = home
  ? "text-bronze hover:text-white cursor-pointer"
  : "text-bronze hover:text-black cursor-pointer";

const dropdownBgClasses = home
  ? "dropdown-menu absolute opacity-0 px-4 py-4 shadow"
  : "bg-white px-4 py-4 rounded dropdown-menu absolute opacity-0";
---

<header>
  <nav class={navClasses}>
    <ul class="flex justify-center items-center space-x-8">
      <li class={textClasses}><a href="/">Grand Power</a></li>
      <li>
        <div class="dropdown inline-block relative">
          <a
            href="/products"
            class="uppercase hover:text-bronze active:text-bronze cursor-pointer shrink"
            >Products</a
          >
          <div class={dropdownBgClasses}>
            <a href="/products/k22" class="hover:text-bronze cursor-pointer">K22</a>
            <a href="/products/stribog" class="hover:text-bronze cursor-pointer"
              >Stribog</a
            >
          </div>
        </div>
      </li>
      <!-- <li class="hover:text-bronze cursor-pointer shrink"><a href="/media">Media</a></li> -->
      <li class="hover:text-bronze cursor-pointer shrink">
        <a href="/contact">Contact</a>
      </li>
      <li class="hover:text-bronze cursor-pointer shrink"><a href="/about">About</a></li>
    </ul>
  </nav>
  <style>
    .dropdown:hover .dropdown-menu {
      transition: opacity 0.5s ease-in-out;
      opacity: 1;
    }
  </style>
</header>
