---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Products | Grand Power UK">
  <div>
    <img src="" alt="" />
  </div>
  <div class="h-full bg-white mx-96 rounded"></div>
</BaseLayout>
