---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/Header.astro";
---

<BaseLayout pageTitle="Grand Power UK | High Quality Firearms">
  <div class="h-[100vh] bg-[url('/images/home_gp_bg.jpg')] bg-gray-700 bg-blend-overlay">
    <Header />
  </div>
</BaseLayout>
