---
import BaseLayout from "../../layouts/BaseLayout.astro";

import { fetchProducts } from "../../../prisma/products";
const products = await fetchProducts()
console.log(products)
---

<BaseLayout pageTitle="Products | Grand Power UK">
  <div>
    <img src="" alt="" />
  </div>
  
</BaseLayout>
